button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem 2rem;
    border-radius: 8px;

    cursor: pointer;
    border: var(--border);
    transition: filter 0.2s;

    img {
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 500;
    }

    &:not(:disabled):hover {
        filter: brightness(0.9);
    }
}

.green {
    background-color: var(--green);
    color: var(--text_white);
}

.red {
    background-color: var(--red);
    color: var(--text_white);
}
