span {
  color: var(--text-title);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.code-poll {
  width: 100%;
  padding: 0 1.5rem;
  height: 4rem;
  background: var(--green);
  color: #fff;
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  margin-top: 1.5rem;
  font-weight: 600;

  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.9);
  }
}


.react-modal-content {
    width: 100%;
    max-width: 576px;
    background: var(--background);
    padding: 3rem;
    position: relative;
    border-radius: 0.24rem;
}

.react-modal-overlay {
    background: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.react-modal-content {
    width: 100%;
    max-width: 576px;
    background: var(--background);
    padding: 3rem;
    position: relative;
    border-radius: 10px;
}
.react-modal-close {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: transparent;
    width: fit-content;
    height: fit-content;
    padding: 0;

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.7);
    }
    
    img{
        width: 1rem;
    }
}
