:root {
  --background: #e2e2e2;
  --green: #11855c;
  --red: #e50000;
  --border: #a8a8b3;
  --background_textbox: #f0f2f5;
  --text_white: #fff;
  --text_black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
}

body,
input,
button,
textarea {
  font: 400 16px 'Poppins', sans-serif;
}

aside {
  flex: 4;
  background: var(--green);
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 6rem 2rem;
}

main {
  flex: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 6rem;

  .userData {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      margin-right: 0.5rem;
      width: 3rem;
    }

    p {
      font: 400 1rem 'Poppins', sans-serif;
    }
  }
}

input,
select {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  width: min-content;
  height: 4rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 8px;
  margin-bottom: 2rem;
}

input:focus,
select:focus {
  outline: none;
}

.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: var(--background);
  padding: 3rem;
  position: relative;
  border-radius: 0.24rem;
}

.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.react-modal-content {
  width: 100%;
  max-width: 576px;
  background: var(--background);
  padding: 3rem;
  position: relative;
  border-radius: 10px;
}
.react-modal-close {
  position: absolute;
  right: 0rem;
  top: 0.5rem;
  border: 0;
  background: transparent;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.7);
  }
}
