.home {
  display: flex;
  align-items: stretch;
  height: 100vh;
  background-color: var(--background);

  img {
    max-width: 32rem;
  }

  h1 {
    font-family: Poppins;
    color: var(--text_white);
    font-size: 3rem;
    text-align: center;
  }

  main {
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 6rem;

      img {
        max-width: 6rem;
      }

      h1 {
        font-family: Poppins, sans-serif;
        color: var(--text_black);
        font-size: 3rem;
      }
    }

    button {
      margin-top: 2rem;
    }

    .separator {
      font-size: 1rem;
      color: #a8a8b3;

      margin: 32px 0;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        flex: 1;
        height: 1px;
        background: #a8a8b3;
        margin-right: 16px;
      }

      &::after {
        content: '';
        flex: 1;
        height: 1px;
        background: #a8a8b3;
        margin-left: 16px;
      }
    }
      .insertCode {
          width: 100%;
      }
  }
}
